
ul.nav li{
    display:inline-block;
    border: none;
    margin: auto;
}
ul.nav{
    border: 1px solid black;
}
ul li:hover{
 background-color: gray;   
}

li:nth-child(even){
    border: 1px solid;
}
table, td{
    border: 1px black solid;
}

tr:nth-child(4), tr:nth-child(6){
    background-color: gray;
}

