nav{
    border: grey solid 1px;
    border-radius: 25px;
    background-color: rgb(172, 199, 165);
}
li a{
    background-color: rgba(6, 112, 98, 0.39);
    border-radius: 25px;
    padding: 6px;
    text-decoration: none;
    color:rgb(15, 15, 15);
    border: 1px, black, solid;
}

nav ul{
    margin-left: auto;
    margin-right: auto;
}
nav ul li {
    display: inline-block;
    height: 100%;
}
li img{
    width: 25px;
    height: 25px;
    height: 100%;    
}
li{
    align-items: right;
    text-align: center;
}

li input{
    width: 300px;
    border-radius: 20px;
    padding: 6px;
    text-align: center;
    height: 20px;
}

li.Sign{
    margin-right: 8%;
}
li.Search{
    margin-right: 30%;
}

li.myurls{
    margin-right: 8%;
}


