*{
    font-family: "Serif";
    font-size: 20px;
}

div.form{
    border: 1px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

div input{
    display: block;
    border-radius: 10px;

    margin-right: auto;
    width: 99%;
    padding-left: 10px;
    border:1px solid;
}
div button{
    display: block;
    border-radius: 3px;

    margin-right: auto;
    margin-left: auto;
    width: 85%;
    padding-left: 10px;
    border:1px solid;
    margin-bottom: 30px;
    background-color: black;
    color:white;
    height: 40px;
}

div textarea{
    display: block;
    border-radius: 20px;

    margin-right: auto;
    width: 99%;
    padding-left: 10px;
    border:1px solid;
}
div select{
    display: block;
    border-radius: 10px;

    margin-right: auto;
    width: 99%;

}
div.Input{
    margin:20px;
    margin-left: auto;
    margin-right: auto;
    
    
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 20px;
    padding-bottom: 20px;
    width: 90%;

    display:block;

}
