div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
button{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}
form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}